<div class="row">
    <div class="container white z-depth-2">

        <div id="register" class="col s12">
            {{#if hasErrors}}
            <div><span class="new badge red">

                    {{# each messages }}
                    <p>{{this}}</p>
                    {{/each}}
                </span>
            </div>
            {{/if}}


            <form action="/admin/register" method="post" class="col s12">
                <div class="form-container">
                    <h3 class="teal-text">Register</h3>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" value="{{email}}" name="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" value="{{password}}" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" value="{{password2}}" name="password2" type="password" class="validate">
                            <label for="password">Confirm Password</label>
                        </div>
                    </div>
                    <center>
                        {{!-- <input type="hidden" name="_csrf" value=""> --}}
                        <button class="btn waves-effect waves-light teal" type="submit">Sign In</button>
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>