{{#if error}}
<div class="card-alert card red lighten-5">
    <div class="card-content red-text">
        <strong>{{ error }}</strong>
    </div>
    <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
{{/if}}

{{#each errors}}
<div class="card-alert card red lighten-5">
    <div class="card-content red-text">
        <strong>{{ text }}</strong>
    </div>
    <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

{{else}}
{{/each}}