{{#if error}}
<div class="card-alert card red lighten-5">
    <div class="card-content red-text">
        {{error}}
    </div>
</div>
{{/if}}

{{#each errors}}
<div class="card-alert card red lighten-5">
    <div class="card-content red-text">{{text}}
    </div>
</div>

{{else}}
{{/each}}