
<!-- Section: Article starts here -->
<section class="article">
	<div class="card-image responsive-img">
            <img src="{{place.imagePath}}">
	</div>
	<div class="section white">
		<div class="container">
			<h2 class="header teal-text flow-text">{{place.title}}</h2>
			<p class="grey-text text-darken-3 lighten-3">{{place.description}}</p>
		</div>
	</div>
</section>
<!-- Section: Article ends here -->



<!-- Section: Follow starts here -->
<section class="section section-follow teal darken-2 white-text center">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>Follow TravelGo</h4>
				<p>Follow us on social media for special offers</p>
				<a href="#" class="white-text">
					<i class="fab fa-facebook fa-4x"></i>
				</a>
				<a href="#" class="white-text">
					<i class="fab fa-twitter fa-4x"></i>
				</a>
				<a href="#" class="white-text">
					<i class="fab fa-linkedin fa-4x"></i>
				</a>
				<a href="#" class="white-text">
					<i class="fab fa-google-plus fa-4x"></i>
				</a>
				<a href="#" class="white-text">
					<i class="fab fa-pinterest fa-4x"></i>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- Section: Follow ends here -->


<!-- Section: Footer starts here -->
<footer class="section teal darken-2 white-text center">
	<p class="flow-text"> TravelGo &copy; 2018</p>
</footer>
<!-- Section: Footer ends here -->

<script type="text/javascript">
	//parallax
		$(document).ready(function(){
		    $('.parallax').parallax();
		 });
</script>