.section-search input {
	padding: 5px !important;
	font-size: 18px !important;
	width: 90% !important;
	border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
	margin: 5px 10px;
}

.article p {
	font-size: 20px;
}

.parallax-container {
	height: 800px;
}

.comments-section p {
	font-size: 16px;
}

.comment-number span {
	font-size: 2.25em;
}

.comment-area {
	margin-bottom: 10px;
}
